<%- include('partials/header.ejs') %>
<body>
  <div class="container mt-5">
    <div class="todo-container">
      <h2 class="mb-4">My To-Do List</h2>
      <div class="task-filters">
        <a href="/" class="task-filter active">Personal</a>
        <a href="/work" class="task-filter">Work</a>
      </div>
      <% if (locals.personal) { %>
        <% personal.forEach(element => { %>
              <% if (element.isDone == 'yes') { %>
              <div class="todo-item bg-success justify-content-between">
                <div>
                  <span class="strikethrough"><%= element.name %></span>
                </div>
                <div>
              <% } else{%>
              <div class="todo-item justify-content-between">
                <div>
                  <span><%= element.name %></span>
                </div>
                <div>
                  <button data-id="<%= element._id %>" class="btn btn-sm btn-success ml-2 btn-done"><i class="fa-solid fa-check"></i></button>
              <% }%>
                  <button data-id="<%= element._id %>" class="btn btn-sm btn-danger ml-2 btn-delete"><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>
        <% }) %>
      <% } %>
      <div class="add-task">
        <form action="/" method="POST">
            <input type="text" name="task" class="add-task-input" placeholder="Add a new task...">
            <input type="hidden" name="type" value="personal">
            <button type="submit" class="add-task-btn">Add Task</button>
        </form>
      </div>
    </div>
  </div>
  <%- include('partials/footer.ejs') %>
</body>
</html>
